/* Font import OXYGEN - 300 / 400 /700 (    font-family: 'Oxygen', sans-serif;) */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html {
  font-family: "Oxygen", sans-serif;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  position: relative;
  left: 90px;
  /* border: 1px solid black; */
}
.main-canvas {
  display: grid;
  width: 500px;
  /* max-width: 500px; */
  aspect-ratio: 1/1;
  /* background-color: black; */
  border: 5px solid black;
  border-radius: 5px;
}

.main-canvas div {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  /* background-color: rgb(255, 255, 255); */
  border: 0.5px solid rgb(231, 231, 231);
  /* border-radius: 3px; */
}

main {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}
aside {
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column wrap;
  gap: 0.4rem;
}

#reset {
  margin-top: auto;
}
