@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=VT323&display=swap");
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'VT323', monospace; */

@import url("https://use.typekit.net/gor7cda.css");
/* font-family: neuropol-nova, sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: brevier,sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: bd-brick, sans-serif;
font-weight: 500;
font-style: normal; */

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* box-sizing: border-box; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calculator-body {
  background-color: #222;
  border-radius: 5px;
  width: 400px;
  /* With width lower than buttons and display */
  /* display: flex;
  flex-flow: column;
  align-items: center; */
}

.display {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  /* border: 1px solid grey; */
  /* width: 90%; */
  height: 50px;
  margin: 3rem 2rem;
  color: aqua;
  text-shadow: 0px 0px 5px aqua;
  font-family: "Orbitron", sans-serif;
  /* font-family: "VT323", monospace; */
  /* font-family: "bd-brick", sans-serif; */
  /* font-family: "neuropol-nova", sans-serif; */
  /* font-family: "brevier", sans-serif; */
  font-size: 1.2rem;
}

.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 400px;
  column-gap: 3px;
  row-gap: 3px;
}

/* Adjust to grid */
#zero {
  /* aspect-ratio: 1/1; */
  grid-column: 2 /3;
}

#equal {
  /* background-image: url("images/button-darkgrey.svg"); */
  /* aspect-ratio: unset; */
  background-color: lightslategray;

  aspect-ratio: unset;
  grid-column: 4 /5;
  grid-row: 4/6;
}

/* BUTTONS MAIN STYLE */
.all-buttons > button {
  width: 100%;
  aspect-ratio: 1/1;
  /* border: none; */
  border-width: 0;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #222;

  box-shadow: 1px 1px 3px #222;
  /* transition: all 0.1s ease-in-out; */
}

.all-buttons > button:hover {
  transform: translate(0px, -2px);
  box-shadow: 2px 2px 3px #222;
  cursor: pointer;
}

.all-buttons > button:active {
  transform: translate(0px, 2px);
  box-shadow: 0px 0px 3px #222;
  /* z-index: -1; */
}

.number {
  /* background-image: url("images/button-lightgrey.svg"); */
  /* background-size: cover; */
}

.extra-btn,
.operator {
  /* background-image: url("images/button-blue.svg"); */
  /* background-size: cover; */
  background-color: lightseagreen;
}
