@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;500;600;700&display=swap");

/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Open Sans', sans-serif; */

:root {
  --width-main: 1024px;
}
* {
  background-color: hsla(212, 48%, 21%, 0.05);
}

button {
  border: unset;
  background-color: salmon;
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  max-width: var(--width-main);
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

header > *:not(button) {
  background-color: hsla(160, 47%, 21%, 0.05);
}

#title {
  font-size: 3rem;
  margin-right: auto;
}

.statistics ul {
  display: flex;
}

.statistics li {
  display: inline-block;
}

.shelf {
  display: flex;
  /* justify-content: center; */
  gap: 5px;
  flex-wrap: wrap;
}

.book-card {
  position: relative;
  border: 1px solid black;
  min-width: 200px;
  max-width: 300px;
  height: 150px;
  flex: 1;
}

.form-container {
  display: none;
}
.form-container.on {
  display: block;
}
/* .submit-form {
  position: absolute;
  top: 700px;
} */
button.close-card {
  display: block;
  /* position: absolute; */
  top: 5px;
  right: 5px;
  /* font-size: 4rem; */
  height: 50px;
}

button.close-card.off {
  display: none;
}

.close-submit-card {
  cursor: pointer;
}
