@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  /* box-sizing: border-box; */
  /* display: flex; */
  /* flex-flow: column wrap; */
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/**
 * #.# FIRST BLOCK
 *
 * Navigation menu and sign up button
 */

.first-block {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
  background-color: #1f2937;
  color: #f9faf8;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  column-gap: 30px;
}
.nav-menu a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.first-block-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 1000px;
  margin: 120px auto;
}
.first-block-header {
  font-size: 48px;
  font-weight: bolder;
}
.first-block-text {
  font-size: 18px;
  color: #e5e7eb;
}
.first-block-button {
  border: none;
  border-radius: 5px;
  margin-block: 10px;
  padding: 8px 35px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
}
.first-block-content > img {
  width: 100%;
}

/**
* #.# SECOND BLOCK
*
* Section with images
*/

.second-block {
  text-align: center;
}
.second-block h2 {
  font-size: 36px;
  font-weight: bold;
}
.second-block-cards {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-bottom: 100px;
}
.second-block-one-card {
  width: 150px;
}
.second-block-one-card img {
  width: 100%;
  border: 5px solid #3882f6;
  border-radius: 15px;
}
.second-block-one-card p {
  margin-top: 5px;
}

/**
 * #.# THIRD BLOCK
 *
 * Section with the quote
 */

.third-block {
  padding: 100px;
  background-color: #e5e7eb;
  color: #1f2937;
}
.third-block-blockquote {
  width: 850px;
  margin: 0 auto;
}
.third-block-quote {
  font-size: 36px;
  font-weight: 300;
  text-align: justify;
  font-style: italic;
}
.third-block-quote-author {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}
/**
 * #.# FOURTH BLOCK
 *
 * Sign up area.
 */

.fourth-block {
  width: 1000px;
  margin: 100px auto;
}
.fourth-block-box {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
}

.fourth-block-button {
  border: 2px solid #f9faf8;
  border-radius: 7px;
  padding: 8px 35px;
  margin-block: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
}

.fourth-block-text p:first-child {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.fourth-block-text p:last-child {
  margin: 0;
}
/**
 * #.# FOOTER BLOCK
 *
 *
 */

footer {
  background-color: #1f2937;
}
footer p {
  margin: 0;
  padding: 40px;
  text-align: center;
  color: #e5e7eb;
}
